@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
/*font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;*/
.containercarte{
    max-width: 960px;
    margin:0 auto;
}

body{
    display:flex;
    align-items: center;
    font-size: 15px;
    background-color: hsl(0, 15%, 92%);
    min-height: 100vh;
    font-weight: 400;
    font-family: "Lexend Deca",sans-serif;
}

 .ensembledesboxs{
    display: grid;
    border-radius:13px ;
    overflow: hidden;
    margin: 2rem;
    padding: 40px;
}
.box1Sedans{
    background: hsl(31, 77%, 52%) ;
}
.box2Suvs{
    background:hsl(184, 100%, 22%) ;
}
.box3Luxury{
    background:hsl(179, 100%, 13%) ;
}
.box h1{
    font-family: "'Big Shoulders Display', cursive;";
    text-transform: uppercase;
    color:aliceblue;
    font-size: 30px;
}